[submodule "lib/dss-chain-log"]
	path = lib/dss-chain-log
	url = https://github.com/makerdao/dss-chain-log
[submodule "lib/univ2-lp-oracle"]
	path = lib/univ2-lp-oracle
	url = https://github.com/makerdao/univ2-lp-oracle
[submodule "lib/ds-pause"]
	path = lib/ds-pause
	url = https://github.com/makerdao/ds-pause
